h3 {
      	margin: 0px;
      	padding: 0px;
}
p  { font-size: 15px;
	   color: white;
	   position: absolute;
	   right: 0px;
	   bottom: 0px;
}

.foto {
	    width: 210px;
        height: 210px;
        position: absolute;
	          
}
.uno  {
	    background-image: url(../img/profile-1.png);
	    
	    
} 
.dos  {
        background-image: url(../img/profile-2.png);
        
	    left: 250px;
	   
}
.tres  {
        background-image: url(../img/profile-3.png);
        
        left: 500px;
	    
}
.cuatro {
        background-image: url(../img/profile-4.png);
        top: 300px;
	    
} 
.cinco { 
    	background-image: url(../img/profile-5.png);
    	
        top: 300px;
    	left: 250px;
	    
}
.seis  {
    	background-image: url(../img/profile-6.png);
    	
        top: 300px;
    	left: 500px;
	    
}
img {
        max-width: 100%;

}







